<!DOCTYPE html>
html(lang="zh-hant-tw")
head
  meta(charset="utf-8")
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title SVG merge: gulp-svgstore

  style.
    body {
      margin: 0;
      background-color: #e8984a;
    }

    .contact {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    .contact-item {
      flex: 1;
    }

    .contact-item a {
      display: block;
      padding-top: 30vmin;
    }

    .icon-svg {
      width: 15vmin;
      height: 15vmin;
      fill: #1b4b4d;
      border-radius: 50%;
      background-color: #F1D15F;
      cursor: pointer;
    }

    .icon-svg:hover {
      fill: #5b252d;
      background-color: #F3F66F;
    }

body

  ul.contact
    each icon in icons
      li.contact-item
        a.contact-link(href=icon.link)
            svg.icon-svg(
              class="icon-svg--" + icon.name,
              title=(
                'title @ svg' === icon.acc ?
                icon.name :
                ('role: img + title @ svg' === icon.acc ? 'find me on ' + icon.name : false)
              ),
              role=(
                'role: presentation' === icon.acc ?
                "presentation" :
                ('role: img + title @ svg' === icon.acc ? "img" : false)
              ),
              aria-labelledby= 'title tag' === icon.acc ? (icon.name + '-icon-title, ' + icon.name + '-icon-desc') : false
            )
              if 'title tag' === icon.acc
                title(id= icon.name + '-icon-title')='a icon of ' + icon.name
                desc(id= icon.name + '-icon-desc')='send a mail to my Google mail'
              use(xlink:href='img/img.svg#icon-svg-' + icon.name)
        //- div= icon.acc

  script(src="https://cdn.rawgit.com/jonathantneal/svg4everybody/master/dist/svg4everybody.min.js")
  script.
    svg4everybody();
